# The node module directory
node_modules

# package.json lock file
package-lock.json

# eslint style sheet
.eslintrc.json

# Hide my mLab cloud mongoDB database user name and password
config/mLabCredential.js